services:
  - type: web
    name: baytaljazeera-backend
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    buildCommand: ""
    startCommand: ""
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 8080
    healthCheckPath: /api/health
